# MongoDB Atlas connection string
MONGO_URI=mongodb_connection_string

# Dedicated database for Appointment Service
DATABASE_NAME=appointment_service_db

# Same JWT secret used in User Service
JWT_SECRET_KEY=jwt_secret_key

# Base URL of running User Service
USER_SERVICE_BASE_URL=http://127.0.0.1:8001

# Shared internal API key for service-to-service communication
INTERNAL_API_KEY=internal_api_key