body {
    font-family: Arial;
    margin: 20px;
}

header {
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#controls h2 {
    width: 100%;
    margin-bottom: 10px;
}

#controls {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

