# MongoDB
MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=user_service_db

# JWT
JWT_SECRET_KEY=replace_this_with_a_long_random_secret_string
JWT_ALGORITHM=HS256
JWT_EXPIRY_MINUTES=30

# Application
APP_NAME=User Service
APP_ENV=development